
    {% extends 'main.html' %}
    {% block content %}
    <h1>Projects page</h1>
    <hr>
    <p>My name is : {{name}} </p>
    <hr>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Description</td>

            </tr>

        </thead>
        <tbody>
            {% for project in projectList %}
            <tr>
                <td>{{project.id}}</td>
                <td>{{project.title}} 
                    {% if project.topRated %} 

                        <strong style="color: red;">TOP RATED</strong>

                    {% endif %}</td>
                <td>{{project.description}}</td>

            </tr>

            {% endfor %}
        </tbody>
    </table>
    


   
    

    {% endblock content %}