
   {% extends 'main.html'%}
   {% block content %}
   <h3> Project page</h3>
   <hr>
   {{project.title}}
   <hr>
    {% for tag in tags %}
        <span style="border:1px solid gray;padding:0.5em ;">{{tag.name}}</span>
    {% endfor %}
    <br>
    <h4 style="padding-right: 2px;">Reviews...</h4>
    {% for review in reviews %}
        
            {{review.body}}
            <br>
        
    {% endfor %}
    <p><a href="{% url 'update-project' project.id %}"> Edit</a></p>
    <p><a href="{% url 'delete-project' project.id %}"> Delete</a></p>
{% endblock content %}
