
    {% extends 'main.html' %}
    {% block content %}
    <h1>Projects page</h1>
    <hr>
    <table>
        <thead>
            <tr>
                
                <td><strong>Title</strong></td>
                <td><strong>Description</strong></td>
                

            </tr>

        </thead>
        <tbody>
            {% for project in projectsList %}
            <tr>
                
                <td><a href="{% url 'project' project.id %}">{{project.title}}</a>
                    {% if project.topRated %} 

                        <strong style="color: red;">TOP RATED</strong>

                    {% endif %}</td>
                <td>{{project.description}}</td>

                
                
                

            </tr>

            {% endfor %}
        </tbody>
    </table>
    


   
    

    {% endblock content %}